@model LibraryMS.Users

@{
    ViewData["Title"] = "Fines";
}

<link rel="stylesheet" href="~/css/MakeItPretty.css" />

<div class="row">
    <div class="col-xs-4">
        @Html.RenderPartialAsync("UserProfile")
    </div>
    <div class="col-xs-7">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <br /> <br /> <br />
                        Amount
                    </th>
                    <th>
                        Due Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Fine)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <form style="margin-top: 20px;" class="w3-container" asp-controller="Users" asp-action="PayFine" method="get">
            <div class="col">
                <input type="text" name="amount" />
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" id="filter-button" asp-controller="Users" asp-action="PayFine" />
            </div>
           </form>
    </div>
    </div>
